body, html { /*Configuration of all the content of the page*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto; /*Font type of all the content of the page*/
  font-size: 12px;
  color: #424242; /*Color of all the content of the page (dark grey*/
}

h1, h2, h3, h4, h5 { /*Configuration of the headers*/
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box; /*tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
}

ul {
  list-style: none; /*No bullet points*/
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 * 
 */

.news__more {
  float: right; /*The element floats to the right of its container*/
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); /*Adds a shadow in the bottom border of the box that contains the header*/
  min-height: 56px;
  transition: min-height 2s; /*Allows to eliminate the horizontal line for bigger viewports*/
}

.header__inner { /*Configuration of the header*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo { /*Configuration of the logo*/
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title { /*Configuration of the title of the page*/
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav { /*Configuration of the menu*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list { /*Configuration of the menu*/
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item { /*Configuration of the items of the menu*/
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a { /*Configuration of the clickable items*/
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover { /*Configuration of the clickable items when hovering over the items with the mouse*/
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main { /*Configuration of the content*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero { /*Configuration of the hero section*/
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpeg");
  background-size: cover;
  height: 300px;
}

.hero article { /*Configuration of the article*/
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news { /*Configuration of the .top-news section*/
  max-height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

.news__title { /*Configuration of the news title*/
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item { /*Configuration of the top-news items*/
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before { /*:before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default.*/
  content: "» ";
}

.top-news__item:last-child { /*Eliminates the horizontal line from the last-child of the list*/
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}

.top-news__item a:hover,
.top-news__item a:active { /*The :active selector is used to select and style the active link. A link becomes active when you click on it. Tip: The :active selector can be used on all elements, not only links.*/
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  padding-top: 1em;
  flex-grow: 1;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  flex-grow: 1;
  padding: 1em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Recent News
 *
 */

.recent-news {
  flex-grow: 1;
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
