 .content { /*The CSS flex-wrap property is used to specify whether flex items are forced into a single line or wrapped onto multiple lines. */
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none; /*display: none; is commonly used with JavaScript to hide and show elements without deleting and recreating them.*/
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10; /*The order CSS property sets the order to lay out an item in a flex or grid container.*/
}

@media screen and (max-width: 549px) { /*Media query for changing style*/
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10; /*The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky).*/
    background-color: #fff;
    width: 300px;
    position: absolute;
    /*This trasform moves the drawer off canvas.*/
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /*Optionally, we animate the drawer.*/
    transition: transform 2s ease;
  }
  .nav.open { /*Uses the open class for translating the menu to the position 0*/
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0; /*The fill property in CSS is for filling in the color of a SVG shape with color light grey.*/
  }
}

@media screen and (min-width: 550px) {
  .hero {
    order: 0;
    width: 60%;
  }
  .weather {
    order: 1;
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
  }
  .top-news {
    order: 1;
    width: 50%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
